---
import "../styles/global.css";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectLink from "../components/ProjectLink.astro";
import type { ProjectsEntry } from "../content.config";

const posts: ProjectsEntry[] = await getCollection("projects", ({ data }) => {
  return data.published === true;
});
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const pageTitle = "Projects";
const description =
  "Experiments and technical exploration by Nick Sullivan, fullstack software engineer.";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <ul class="post-list">
    {
      posts.map((post) => (
        <li>
          <ProjectLink
            url={`/projects/${post.id}`}
            title={post.data.title}
            date={post.data.date}
            description={post.data.description}
            image={post.data.image}
            imageFit={post.data.imageFit}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .post-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .post-list li + li {
    border-top: 1px solid var(--bg-wash);
  }
</style>
