---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import type { ImageItem } from "../types/types";

const { images = [] }: { images?: ImageItem[] } = Astro.props;
---

<div class="image-gallery">
  {
    images.map((image) =>
      typeof image.src === "string" ? (
        <img
          src={image.src}
          alt={image.alt}
          width={image.width}
          height={image.height}
          loading="eager"
          class={image.className}
        />
      ) : (
        <Image
          src={image.src as ImageMetadata}
          alt={image.alt}
          width={image.width ?? (image.src as ImageMetadata).width}
          height={image.height ?? (image.src as ImageMetadata).height}
          loading="eager"
          class={image.className}
        />
      )
    )
  }
</div>
